
/*Removes defualt margins and padding from html file*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  
}

body {
  display: flex;
  background: rgb(75, 74, 74); /*Sets background color*/
  margin: 0; /* Remove default margin */
  
}

/*Container for background image*/
.background-container {
      position: fixed;
      background-attachment: fixed;
      background-position: center;
      background-image: url('umberto-FewHpO4VC9Y-unsplash.jpg');
      background-size: cover;
      background-repeat: repeat;
      opacity: 1;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      overflow-y: auto;
      overflow-x: auto;
}
/*Navigation bar*/
.header {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px 10%;
  background: linear-gradient(to right, rgb(5, 36, 59), rgb(55, 167, 201));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: solid 2px;
  border-color: black;
  box-shadow: 0px 4px 6px black;
  font-family: 'Roboto', sans-serif;
}

.header > div:first-child {
  flex: 1;
}

.header > div:last-child {
  flex: 3;
}
/*Placeholder for website logo, currently just text in the navigation bar*/
.logo {
  font-size: 55px;
  color:white;
  text-decoration: none;
  font-weight: 600;
}

/* Styles for the search bar */
.search-bar {
  width: 300px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles for the search button */
.search-button {
  background: linear-gradient(to left, rgb(5, 36, 59), rgb(55, 167, 201));
  color: white;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
}

.search-button:hover {
  background: linear-gradient(to right, rgb(5, 36, 59), rgb(55, 167, 201));
}

/*Sets styles for navigation links*/
.navbar-centre a {
  font-size: 30px;
  color:white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}
/*Sets navigation link icons styles*/
.social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 65px;
  
}

/*Hover settings for navbar links*/
.navbar-centre a:hover,
.navbar-centre a.active {
  color:gold;
}

.home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px; 
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 350px;
  max-height: calc(100vh + 750px);
}

.home-container > div {
  flex: 1 1 calc(25% - 45px); /* Assuming a gap of 45px */
  min-width: 400px;
  max-width: 750px;
}

.item-2, .item-3, .item-4, .item-5 {
  flex: 0 0 25%;
  box-sizing: border-box; /* To include padding and border in the item's total width */
  padding: 0 10px; /* Optional: Add some padding for spacing between items */
}

  /*Page content heading*/
  .item-1 {
    flex: 0 0 100%; /* This makes it span the entire width */
    color: white;
    text-align: left;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 55px;
    margin-left: 2%;
}

  /*Heading 1 styles*/
  .item-1 h1 {
    font-family: 'Roboto', sans-serif;
  }

  /*Heading 3 styles*/
  .item-1 h3 {
    font-family: 'Roboto Slab', serif;

  }

  /*About Me section grid item alignment and styles*/
  .item-2 {
    display: flex;
    flex: 1;
    flex-wrap: wrap; 
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding: 35px;
    max-height: 650px;
    min-height: auto;
    width: 1fr;
    background-color: rgb(5, 36, 59);
    border-radius: 50px;
    box-shadow: 0px 4px 6px black;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    word-break: break-all;
    
  }

  /*Content styles*/
  .item-2 p {
    font-family: 'Raleway', sans-serif;
  }

  /*Link style and transistion*/
  .item-2 a {
    color: white;
    transition: .3s;
  }

  /*Link hover style*/
  .item-2 a:hover {
    color:gold;
  }
  
  /*Profile Picture grid item alignment settings*/
  .item-3 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 0px;
  }

  /*Profile Image styles and settings*/
    .profile-image {
      display: flex;
      flex: 1;
      max-height: 650px;
      border-radius: 75px;
      box-shadow: 0px 4px 6px black;
  }

/*Career section grid item alignment and styles*/ 
.item-4 {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding: 35px;
  max-height: fit-content;
  min-height: auto;
  background-color: rgb(5, 36, 59);
  border-radius: 50px;
  box-shadow: 0px 4px 6px black;
  font-family: 'Raleway', sans-serif;
}

/*Personal Skills grid item alignment and styles*/
.item-5 {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding: 35px;
  max-height: fit-content;
  min-height: auto;
  background-color: rgb(5, 36, 59);
  border-radius: 50px;
  box-shadow: 0px 4px 6px black;
  font-family: 'Raleway', sans-serif;
}

/*Removes list style from footer*/
.item-5 ul {
  list-style: none;
}
/*Footer alignment and styles*/
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, rgb(5, 36, 59), rgb(55, 167, 201));
    padding: 20px 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid 2px;
    border-color: black;
    box-shadow: 0px 4px 6px black;
    z-index: -1;
    opacity: 1; 
    transition: opacity 0.3s;
}

/*Footer content styles and settings*/
.footer-content li {
    font-size: 18px;
    display: inline-flex;
    list-style: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    margin: 30px;
    background: linear-gradient(to right, rgb(10, 72, 119), rgb(55, 167, 201));
    border-radius: 50px;
    border-color: rgb(5, 36, 59);
    border-style: solid;
    padding: 14px;
    
}

/*Footer link style and transition*/
.footer-content a {
    color: white;
    transition: .3s;
  }

/*Hover styles for footer links*/
.footer-content a:hover {
    color:gold;
  }

/*LinkedIn and GitHub Icon style and settings*/
  .social-icons-footer {
    display: flex;
    align-content: right;
    justify-content: space-evenly;
    margin-left: 65px;
    
}