/*Removes defualt margins and padding from html file*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
 }

body {
  display: flex;
  background: rgb(75, 74, 74); /*Sets background color*/
  margin: 0; /* Remove default margin */
  
}

/*Container for background image*/
.background-container {
  position: fixed;
  background-attachment: fixed;
  background-position: center;
  background-image: url('markus-spiske-hvSr_CVecVI-unsplash.jpg');
  background-size: cover;
  background-repeat: repeat;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-y: auto;
  overflow-x: auto;
}

/*Navigation bar*/
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  padding: 20px 10%;
  background: linear-gradient(to right, rgb(5, 36, 59), rgb(55, 167, 201));
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: solid 2px;
  border-color: black;
  box-shadow: 0px 4px 6px black;
  font-family: 'Roboto', sans-serif;
}

.header > div:first-child {
  flex: 1;
}

.header > div:last-child {
  flex: 3;
}

/*Placeholder for website logo, currently just text in the navigation bar*/
.logo {
    font-size: 55px;
    color:white;
    text-decoration: none;
    font-weight: 600;
}

/* Styles for the search bar */
.search-bar {
  max-width: 100%;
  width: 300px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles for the search button */
.search-button {
  max-width: 100%;
  background: linear-gradient(to left, rgb(5, 36, 59), rgb(55, 167, 201));
  color: white;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
}

.search-button:hover {
  background: linear-gradient(to right, rgb(5, 36, 59), rgb(55, 167, 201));
}

/*Sets styles for navigation links*/
.navbar-centre a {
  flex-wrap: wrap;
  max-width: 100%;
  font-size: 30px;
  color:white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}
/*Sets navigation link icons styles*/
.social-icons {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-evenly;
  margin-left: 65px;
  
}

/*Hover settings for navbar links*/
.navbar-centre a:hover,
.navbar-centre a.active {
  color:gold;
}

/*Grid container for page content items*/
.skill-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 420px;
  margin-top: 75px; 
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: calc(100vh + 400px);
  max-height: 100%;
  gap: 25px;
}


  /*Page content heading*/
  .heading-1 {
    display: flex;
    max-width: 100%;
    flex: 1; 
    color: white;
    text-align: left;
    font-size: 55px;
    font-weight: 700;
    padding: 35px;
    margin-left: 40px;
    overflow: hidden;
    word-wrap: break-word;
  }

  .heading-1-h3 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: left;
    max-width: 100%;
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-left: 40px;
    padding: 35px;
  }
  
  /*Heading 1 styles*/
  .heading-1 h1 {
    font-family: 'Roboto', sans-serif;
  }

  .js-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px; 
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    min-height: fit-content;
    max-height: fit-content;
    gap: 20px;
}

  /*JS logo grid alignment and image settings*/
  .js-image {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 25px; 
    margin-top: 0px;
    height: 250px;
    min-height: 100px;
    border-radius: 75px;
    box-shadow: 0px 4px 6px black;
    
  }
  
 
  /*Javascript section grid item alignment and styles*/
  .heading-2 {
    display: flex; 
    flex-wrap: wrap;
    flex: 1;
    color: white;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    padding: 35px;
    margin-left: 20px;
    min-width: 300px;
    max-width: 100%;
    min-height: fit-content;
    max-height: 600px;
    background-color: rgb(5, 36, 59);
    border-radius: 50px;
    box-shadow: 0px 4px 6px black;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    word-wrap: break-word;
    
  }

  /*JS project image grid alignment and settings*/
  .js-project-logo {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 0px;
    max-height: 600px;
    min-height: 300px;
    border-radius: 75px;
    box-shadow: 0px 4px 6px black;
  }

  /*Content styles*/
  .heading-2 p {
    font-family: 'Raleway', sans-serif;
  }
  /*Link style and transistion*/
  .heading-2 a {
    color: white;
    transition: .3s;
  }
  /*Link hover style*/
  .heading-2 a:hover {
    color:gold;
  }

  .html-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    min-height: fit-content;
    max-height: fit-content;
    gap: 20px;
}

  
  /*html image size*/
  .html-image {
   display: flex;
   flex: 1;
   flex-wrap: wrap; 
   margin-top: 0px;
   height: 270px;
   min-height: 100px;
}

  /*HTML section grid item styles and settings*/
  .heading-3 {
    display: flex; 
    flex-wrap: wrap;
    flex: 1;
    color: white;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    padding: 35px;
    margin-left: 20px;
    min-width: 300px;
    max-width: 100%;
    min-height: fit-content;
    max-height: 600px;
    background-color: rgb(5, 36, 59);
    border-radius: 50px;
    box-shadow: 0px 4px 6px black;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    word-wrap: break-word;
    
  }

  /*html project image settings*/
  .html-project-logo {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 0px;
    max-height: 600px;
    min-height: 300px;
    border-radius: 75px;
    box-shadow: 0px 4px 6px black;
  }

  /*Content styles*/
  .heading-3 p {
    font-family: 'Raleway', sans-serif;
  }

/*Link style and transistion*/
  .heading-3 a {
    color: white;
    transition: .3s;
  }

/*Link hover style*/
  .heading-3 a:hover {
    color:gold;
  }

  .css-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    min-height: fit-content;
    max-height: fit-content;
    gap: 20px;
  }

  .css-image {
    display: flex;
    flex: 1;
    flex-wrap: wrap; 
    margin-top: 0px;
    height: 270px;
    min-height: 100px;
}

/*CSS section grid item styles and settings*/
  .heading-4 {
    display: flex; 
    flex-wrap: wrap;
    flex: 1;
    color: white;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    padding: 35px;
    margin-left: 20px;
    min-width: 300px;
    max-width: 100%;
    min-height: fit-content;
    max-height: 600px;
    background-color: rgb(5, 36, 59);
    border-radius: 50px;
    box-shadow: 0px 4px 6px black;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    word-wrap: break-word;
    
  }
  /*Content styles*/
  .heading-4 p {
    font-family: 'Raleway', sans-serif;
  }

  /*Link style and transistion*/
  .heading-4 a {
    color: white;
    transition: .3s;
  }

  /*Link hover style*/
  .heading-4 a:hover {
    color:gold;
  }

  /*CSS project image settings*/
  .css-image-2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 0px;
    max-height: 600px;
    min-height: 300px;
    border-radius: 75px;
    box-shadow: 0px 4px 6px black;
  }

.sql-container {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    min-height: fit-content;
    max-height: fit-content;
    gap: 20px;
  }

  /*SQL section grid item styles and settings*/
  .heading-5 {
    display: flex; 
    flex-wrap: wrap;
    flex: 1;
    color: white;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    padding: 35px;
    margin-left: 20px;
    min-width: 300px;
    max-width: 100%;
    min-height: fit-content;
    max-height: 600px;
    background-color: rgb(5, 36, 59);
    border-radius: 50px;
    box-shadow: 0px 4px 6px black;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    word-wrap: break-word;
    
  }
/*Content styles*/
  .heading-5 p {
    font-family: 'Raleway', sans-serif;
  }

  /*Link style and transistion*/
  .heading-5 a {
    color: white;
    transition: .3s;
  }

  /*Link hover style*/
  .heading-5 a:hover {
    color:gold;
  }

  /*SQL image size*/
  .sql-image {
    display: flex;
    flex: 1;
    flex-wrap: wrap; 
    margin-top: 0px;
    height: 270px;
    min-height: 100px;
}

  /*SQL project image size and settings*/
  .sql-image-2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 0px;
    max-height: 600px;
    min-height: 300px;
    border-radius: 75px;
    box-shadow: 0px 4px 6px black;
  }

  /*Footer alignment and styles*/
  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    padding: 20px 10%;
    background: linear-gradient(to right, rgb(5, 36, 59), rgb(55, 167, 201));
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: solid 2px;
    border-color: black;
    box-shadow: 0px 4px 6px black;
    font-family: 'Roboto', sans-serif;
  }

/*Footer content styles and settings*/
.footer-content li {
  font-size: 18px;
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  color:white;
  font-family: 'Roboto', sans-serif;
  padding: 3px;
  margin: 20px;
  background: linear-gradient(to right, rgb(10, 72, 119), rgb(55, 167, 201));
  border-radius: 50px;
  border-color: rgb(5, 36, 59);
  border-style: solid;
  padding: 14px;
}

/*Footer link style and transition*/
.footer-content a {
  color: white;
  transition: .3s;
}

/*Hover styles for footer links*/
.footer-content a:hover {
  color:gold;
}

/*LinkedIn and GitHub Icon style and settings*/
.social-icons-footer {
  display: flex;
  align-content: right;
  justify-content: space-evenly;
  margin-left: 65px;
  
}